<p id="notice"><%= notice %></p>

<p>
  <b>Subject:</b>
  <%= @forum_post.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @forum_post.body %>
</p>

<p>
  <b>Name:</b>
  <%= @forum_post.name %>
</p>


<%= link_to 'Edit', edit_forum_post_path(@forum_post) %> |
<%= link_to 'Back', forum_posts_path %>
